body{
    background:linear-gradient(45deg,black,white,pink)fixed;
}
.fam img{
    
    background-color: cover;
    width: 630px;
    height: 400;
    
}
.fam h1 p{
    
    width: 450px;
    padding: 40px;
    background: rgba(0,0,0,0,4);
    text-align: right justify;
    margin: auto;
    margin-top: 5%;
    color:black;
    font-family: 'Century Gothic' , sans-serif;
}
pro.content
{
text-align: center;
top:30px;
left:800px;
position:absolute;background:linear-gradient(45deg,black,white,pink)fixed;
height:400px;
width:500px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}