body {
    background-color: pink;
    text-align: justify center;
    background-size: cover;
    font-family: arial;
}
.fu h1{
    text-align: center justify underline;
}
.fu{
    text-align: justify center;
    margin: auto;
    margin-top: 4%;
    color:black;
    font-family: 'Century Gothic' , sans-serif;

}

.me li{
    margin-left: 500px;
    text-align: left;
    
}
.ll img{
        border-radius: 50%;
        rotate: 360deg;
        width: 300px;
  
        height: 300px;
}
pro.content
{
border-style: inset;
border-style: outset;

top:100px;
left:180px;
position:absolute;
background-color: white;
height:400px;
width:1000px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}

.button{
    font-size: 30px;
    background-color: lightseagreen;
    padding: 20px;
    width: 500px;
}
pro1.content
{


top:100px;
left:750px;
position:absolute;
background-color: pink;
height:400px;
width:600px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}
pro2.content
{


top:100px;
left:15px;
position:absolute;
background-color: pink;
height:400px;
width:600px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px

}