body{
    background:linear-gradient(45deg,black,white,pink)fixed;
    text-align: center;
    background-size: cover;
    font-family: arial;
    
   
}
.box img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
     
}
.box{
    
    width: 450px;
    padding: 40px;
    background: rgba(0,0,0,0,4);
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color:black;
    font-family: 'Century Gothic' , sans-serif;
    

}
.click{
    overflow: hidden;
    background-color:none;
}
.click li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    
}
.click li a{
    
    color:blue;
    float:center;
    text-align: justify center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17;

   
}
.apps{
    overflow: hidden;
    background-color:none;
}
.apps li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    
}
.photos h1{
    color: rgb(11, 22, 21);
}
    
.apps li a{
    color: blue;
    text-align:justify ;
    text-decoration: none;
    font-display:none;
    font-size: 60px;
    
    

}


.box h1{
font-size: 40px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 100;
}
.box h5{
   
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;

}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding:0;

}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: blue;
    text-decoration: none;
    font-display:inline-block;
    font-size: 25px;
    text-align:justify ;

}

a:link, a:visited {
    background-color: none;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgba(0, 26, 255, 0.281);
}

h2{
    font-size: 16px;
}

p{
    font-size: 14 px;
}
.photos img{
    width: 274px;
    height: 206px;

    
}
.photos1 img{
    width: 274px;
    height: 206px;

    
}
.pics img{
    width: 250px;
    height: 200px;
    rotate: 80deg;

}

.efg{
    overflow: hidden;
    background-color:none;
}
.efg li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    
}
.efg li a{
    
    color:blue;
    float:center;
    text-align: justify center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17;
}
.d img{

    width: 500px;
    height: 300px;
}
.fu img{
    width: 300px;
    height: 300px;

}
.fu h1{
    text-align: right justify ;
}
.me li{
    margin-left: 500px;
    text-align: left;
    
}
pro.content
{


top:380px;
left:180px;
position:absolute;
background:linear-gradient(45deg,black,white,pink)fixed;
height:400px;
width:1000px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}



